[GENERAL]
inputDir = /home/dirk/repos/model_test_data/test_Elbe/
outputDir = /home/dirk/Experiments/glofrim/

[CMF_engine]
CMF_path = /home/dirk/Models/cama-flood_bmi_v3.6.2/src/libcama.so

[DFM_engine]
DFM_path = /home/dirk/Models/dflowfm-1.1.201/lib/libdflowfm.so

[LFP_engine]
LFP_path = dummy