numpy>=1.14.5
netcdf4>=1.4.2
rasterio>=1.1
rtree>=0.9.3
click>=7.0
configparser>=3.5.0
python-dateutil>=2.8
pytz>=2019.3
six>=1.14
pip>=20.0
bmi-python>=0.2.6
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
